$dPadBorderRadius: 3px;
$desktopEdgeLength: 2.5vw;

@font-face {
    font-family: "nintender";
    src: url("fonts/nintender.ttf");
}

@font-face {
    font-family: "quantifier";
    src: url("fonts/quantifier.ttf");
}

@font-face {
    font-family: "pokemon";
    src: url("fonts/pokemon.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    background: #d0cfcb;
    color: rgb(3, 39, 96);
}

button:focus {
    outline: 0;
}

.vertical-center {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

.x-y-center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-control:hover {
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-rows: 15% 85%;
    height: 100vh;
}

.controls-and-screen {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}


.pill-button {
    display: block;
    width: 4.5vw;
    height: 15px;
    border-radius: 30px;
    background: rgb(88, 88, 88);
}

.round-button {
    width: 7vw;
    height: 7vw;
    border-radius: 5vw;
    background: rgb(150, 36, 93);
}

.pad-square {
    background-color: black;
    border: none;
}

.screen-section {
    display: grid;
    grid-template-rows: 80% 20%;
}

.dark-gray-area {
    background: #505260;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 75px  15px;
}

.npc, .claimableObject {
    width: $desktopEdgeLength;
    height: $desktopEdgeLength;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: absolute;
}

#off-on {
    display: inline-block;
    font-family: sans-serif;
    background: #d0cfcb;
    border: 1px solid #a0a09d; 
    border-radius: 10px;
    position: relative;
    left: 4vw;
    width: 95px;
    margin-top: 8px;
}

#muteButton {
    display: inline-block;
    height: 2vw; 
    width: 2vw;
    background-image: url("../img/sound-allowed.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: Transparent;
    border: none;
    position: absolute;
    right: 1.5vw;
    margin-top: 5px;
}

#left-controls {
    position: relative;
}

#d-pad {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 11vw;
    height: 11vw;
    margin-bottom: 40px;
}

#d-pad-up {
    border-radius: $dPadBorderRadius $dPadBorderRadius 0 0;
}

#d-pad-right {
    border-radius: 0 $dPadBorderRadius $dPadBorderRadius 0;
}

#d-pad-down {
    border-radius: 0 0 $dPadBorderRadius $dPadBorderRadius;
}

#d-pad-left {
    border-radius: $dPadBorderRadius 0 0 $dPadBorderRadius ;
}

#d-pad-center {
    border: 2px solid black;
}

#select-and-start-box p {
    margin-top: 10px;
}

#select, #start, #a-box, #b-box {
    display: inline-block;
    text-align: center;
    font-family: quantifier;
}

#select, #start {
    transform: rotate(-20deg);
}

#start {
    margin-left: 10px;
}

#a-box, #b-box {
    margin-left: 2vw;
}

#a-b-button-box {
    transform: rotate(-20deg);
    font-size: 2em;
}

#screen-box {
    width: 11 * $desktopEdgeLength;
    height: 11 * $desktopEdgeLength;
    background-color: rgb(0,0,0);  //#485100; green screen
    image-rendering: pixelated;
    position: relative;
    border: 2px solid black;
    overflow: hidden;
    font-family: pokemon;
    font-size: 1vw;
    color: black;
    text-align: left;
}

#screen {
    width: 20 * $desktopEdgeLength;
    height: 18 * $desktopEdgeLength;
    background-image: url("../img/pallet.png");
    background-repeat: no-repeat;
    background-size: 100%;
    transition: top 0.25s linear, left 0.25s linear;
    position: absolute;
    top: -1 * $desktopEdgeLength;
}

#player {
    width: $desktopEdgeLength;
    height: $desktopEdgeLength;
    background-image: url("../img/ash-sprite.png");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 400%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text-box {
    display: none;
    position: absolute;
    bottom: 0;
}

#confirm-box {
    display: none;
    width: 2 * $desktopEdgeLength;
    height: 2.7vw;
    float: right;
    background-image: url("../img/confirm.png");
    padding: 5%;
    background-size: 100%;
    background-repeat: no-repeat;
}

#confirm-box > div {
    display: inline-block;
}

#confirm-box p {
    margin: 0;
    padding: 0;
}

#text {
    background-image: url("../img/text-box.png");
    width: 9 * $desktopEdgeLength;
    min-height: 3.5vw;
    background-size: 100%;
    background-repeat: no-repeat;
    clear: both;
    padding: 2.5vw 2.5vw 2.1vw 2.5vw;;
}

#battle-screen {
    display: none;
    width: 11 * $desktopEdgeLength;
    height: 11 * $desktopEdgeLength;
    background-image: url("../img/battleScreen.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #f8f8f8;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

#enemy-pokemon-name, #enemy-pokemon-level, #enemy-pokemon-health-bar, #friendly-pokemon-name, 
#friendly-pokemon-level, #friendly-pokemon-health-bar, #friendly-pokemon-health-num, #battle-text, 
#friendly-pokemon-image, #enemy-pokemon-image, #battle-options {
    position: absolute;
}

#enemy-pokemon-name {
    top: 0.5vw;
    left: 2vw;
    height: 1.5vw;
    width: 12vw;
}

#enemy-pokemon-level {
    top: 1.9vw;
    left: 6.75vw;
    height: 1.5vw;
    width: 1.5vw;
}

#enemy-pokemon-health-bar {
    background-color: rgb(230, 230, 230);
    top: 3.8vw;
    left: 5.6vw;
    height: 0.4vw;
    width: 8.1vw;
    transition: width 0.5s ease;
}

#friendly-pokemon-name {
    top: 11.25vw;
    right: 2vw;
    height: 1.5vw;
    width: 12vw;
    text-align: right;
}

#friendly-pokemon-level {
    top: 12.5vw;
    right: 5.5vw;
    height: 1.5vw;
    width: 1.5vw;
}

#friendly-pokemon-health-bar {
    background-color: rgb(230, 230, 230);
    top: 14.5vw;
    left: 16.6vw;
    height: 0.3vw;
    width: 8.1vw;
    transition: width 0.5s ease;
}

#friendly-pokemon-health-num {
    top: 15.5vw;
    right: 4.25vw;
    height: 2vw;
    width: 6.5vw;
}

#battle-text {
    bottom: 1vw;
    left: 1vw;
    height: 5vw;
    width: 23.4vw;
    padding: 1vw;
}

#battle-options {
    display: none;
    bottom: 1vw;
    left: 1vw;
    height: 5vw;
    width: 23.4vw;
    padding: 1vw;
}

#friendly-pokemon-image {
    bottom: 6.75vw;
    left: 1vw;
    height: 11vw;
    width: 11vw;
}

#enemy-pokemon-image {
    top: 2vw;
    right: 2vw;
    height: 10vw;
    width: 10vw;
}

#moves > div {
    display: inline-block;
}

#moves p {
    margin: 0;
    padding: 0;
}

#win-screen, #level-up-screen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 11 * $desktopEdgeLength;
    height: 11 * $desktopEdgeLength;
    background-color: #f8f8f8;
    position: relative;
    font-size: 2em;
    z-index: 100;
}

#win-screen {
    z-index: 1000;
}

#pokemon-large-image {
    height: 6 * $desktopEdgeLength;
    width: 6 * $desktopEdgeLength;
}

#nintendo-text {
    text-align: center;
    font-size: 2em;
}

#nintendo {
    font-family: nintender;
}

#game-boy {
    font-family: Lato;
    text-transform: uppercase;
    font-style: italic;
}
