$edgeLength: 2.5vw;
$dPadBorderRadius: 3px;

@font-face {
    font-family: "nintender";
    src: url("fonts/nintender.ttf");
}

@font-face {
    font-family: "quantifier";
    src: url("fonts/quantifier.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    background: #d0cfcb;
    color: rgb(3, 39, 96);
    text-align: center;
}

p {
    margin: 10px 0 0 0;
}

.vertical-center {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

.container {
    display: grid;
    grid-template-rows: 15% 85%;
    height: 100vh;
}

.row-1 {
}

.row-2 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.col-2-1 {
    position: relative;
}

.col-2-2 {
    display: grid;
    grid-template-rows: 80% 20%;
}

.col-2-3 {
}


.row-2-2-1 {
    background: #505260;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    border-radius: 15px 15px 75px  15px;
}

.row-2-2-2 {
}

.col-2-2-1-1 {
}

.col-2-2-1-2 {
    justify-content: center;
    align-items: center;
    position: relative;
}

.col-2-2-1-3 {
}

.pill-button {
    display: block;
    width: 4.5vw;
    height: 15px;
    border-radius: 30px;
    background: rgb(88, 88, 88);
}

#select, #start {
    display: inline-block;
    transform: rotate(-20deg);
    text-align: center;
    font-family: quantifier;
}

#start {
    margin-left: 10px;
}

#b-box, #a-box {
    display: inline-block;
    text-align: center;
    font-family: quantifier;
    margin-left: 2vw;
}

#b-box {
    margin-left: 2vw;
}

.round-button {
    width: 7vw;
    height: 7vw;
    border-radius: 5vw;
    background: rgb(150, 36, 93);
}

#a-b-button-box {
    transform: rotate(-20deg);
    font-size: 2em;
}

.pad-square {
    background-color: black;
    border: none;
}

#d-pad {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 11vw;
    height: 11vw;
    margin: 0 auto 40px;
}

#d-pad-up {
    border-radius: $dPadBorderRadius $dPadBorderRadius 0 0;
}

#d-pad-right {
    border-radius: 0 $dPadBorderRadius $dPadBorderRadius 0;
}

#d-pad-down {
    border-radius: 0 0 $dPadBorderRadius $dPadBorderRadius;
}

#d-pad-left {
    border-radius: $dPadBorderRadius 0 0 $dPadBorderRadius ;
}

#d-pad-center {
    border: 2px solid black;
    z-index: 2;
}

#d-pad-and-start-select-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#screen {
    display: flex;
    width: 11 * $edgeLength;
    height: 11 * $edgeLength;
    background-color: rgb(0,0,0);  //#485100; green screen
    background-image: url(../img/pallet.png);
    image-rendering: pixelated;
    background-repeat: no-repeat !important;
    background-position:0*$edgeLength -1*$edgeLength;
    background-size: 20*$edgeLength 18*$edgeLength;
    transition: background-position 0.4s linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
}

#player {
    width: $edgeLength;
    height: $edgeLength;
    background-image: url(../img/ash-sprite.png);
    image-rendering: pixelated;
    background-repeat: no-repeat !important;
    background-position: 0% 0%;
    background-size: 400% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.4s linear,
                left 0.4s linear;
}

#nintendo {
    font-family: nintender;
    font-size: 2em;
}

#game-boy {
    font-family: Lato;
    text-transform: uppercase;
    font-style: italic;  
    font-size: 2em;
}

#off-on {
    display: inline-block;
    font-family: sans-serif;
    border-radius: 10px;
    margin: 5px 85vw 0 5vw;
    width: 95px;
}

